// Variables globales
$font-family: "Libre Baskerville", serif;
$color-primary: #333;
$color-secondary: #4A4A4A;
$color-secondary-light: #4a4a4a83;
$btn-bg-color: #4CAF50;
$btn-hover-bg-color: #45a049;
$border-radius: 5px;
$shadow-default: 0 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-light: 27px 34px 23px -23px rgba(0, 0, 0, 0.49);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-family;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: $color-primary;
}

.fixed-top {
    margin: 0;
    padding: 20px;
}

.bg-menu {
    background-color: $color-secondary;
}

.bg-menus {
    background-color: $color-secondary-light;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.container-fluid {
    img {
        width: 60px;
    }
}

nav {
    margin-top: 10px;

    a {
        margin: 0 15px;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
    }
}

.hero {
    background: {
        image: url('../img/Captura\ de\ pantalla\ 2024-10-02\ 200748.png');
        size: cover;
        repeat: no-repeat;
        position: center;
    }

    color: white;
    text-align: center;
    margin-top: 75px;
    width: 100%;

    a {
        color: white;
        width: 100%;
    }

    h1 {
        font-family: $font-family;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5em;
        margin-top: 100px;
        background: rgba(0, 0, 0, 0.336);
        border-radius: 15px;
        width: 100%;
    }

    h2 {
        font-family: $font-family;
        font-weight: 400;
        font-style: italic;
        font-size: 2em;
        margin-bottom: 40px;
        background: rgba(0, 0, 0, 0.336);
        border-radius: 15px;
        width: 100%;
    }
}

.boton {
    background-color: $btn-bg-color;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: $btn-hover-bg-color;
        transform: translateY(-2px);
        box-shadow: $shadow-default;
    }
}

.custom-section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    margin-top: 120px;
    color: white;

    h2 {
        font-family: $font-family;
        font-size: 2rem;
        margin: 0;
    }
}

.galeria {
    margin: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: $box-shadow-light;
}

.carousel-item {
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 30%;
        margin: 10px;
    }

    .carousel-caption {
        h5 {
            text-align: center;
            font-family: $font-family;
            font-style: italic;
            font-size: 2vh;
            color: black;
        }

        p {
            text-align: center;
            font-family: $font-family;
            font-style: normal;
            font-size: 1.5vh;
            color: black;
        }
    }
}

// Productos
.productos {
    margin: 30px;
    padding: 20px;
    text-align: center;

    &-container {
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .producto-card {
        border: 2px solid #B0BEC5;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        margin: 30px;
        padding: 20px;
        width: 300px;
        box-shadow: $box-shadow-light;

        &:hover {
            background-color: #fcfcfc;
            transform: translateY(-2px);
            box-shadow: $shadow-default;
        }

        img {
            margin: 5px;
            width: 100%;
        }

        h3,
        h4,
        p {
            font-family: $font-family;
        }

        h3,
        h4 {
            font-size: 20px;
            font-style: normal;
        }

        p {
            font-size: 16px;
            font-style: italic;
        }
    }
}

// Galería
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    .item {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &.text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                font-family: $font-family;
                font-size: 2em;
                margin-bottom: 10px;
                font-size: 35px;
                color: $color-primary;
            }

            p {
                font-size: 1em;
                color: #666;
                font-family: $font-family;
                font-weight: 400;
                font-style: italic;
                font-size: 20px;
            }
        }

        &.image img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
}

// Footer
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;

    h2 {
        font-family: $font-family;
        font-weight: 500;
        font-style: italic;
        font-size: 20px;
    }

    div a img {
        display: inline;
        width: 50px;
        margin: 15px;
    }
}

