// Footer
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;

    p {
        font-family: $font-family;
        font-style: italic;
        font-size: 0.8vh;
    }

    div a img {
        display: inline;
        width: 50px;
        margin: 15px;
    }
}

footer {
    div {
      a {
        img {
          display: inline;
          width: 50px;
          margin: 15px;
          border-radius: 100%;
  
          &:hover {
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
            transform: scale(1.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
          }
        }
      }
    }
  }